{% extends "base.html" %}

{% block content %}
<div class="controls">
    <form hx-post="/control/start" hx-swap="none" class="crawl-form">
        <div class="input-group">
            <input type="text" name="url" placeholder="https://news.ycombinator.com" class="flawless-input">
            <input type="text" name="config" placeholder="Path to config (optional)" class="flawless-input"
                style="flex: 0.5; margin-left: 0.5rem;">
            <button type="submit" class="start-btn">START</button>
        </div>
    </form>
</div>

<div id="results-container">
    <!-- Sites will be prepended here -->
</div>

<div hx-get="/stats" hx-trigger="every 1s" hx-target="#results-container" hx-swap="innerHTML"></div>
{% endblock %}